.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 120px;
  background-color: rgb(48, 25, 52);
}
.footer {
  min-height: 120px;
  background-color: rgb(48, 25, 52);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  z-index: 10;
  justify-self: center;
  align-self: center;
  height: 650px;
  width: 450px;
  background-color: rgb(48, 25, 52);
  border-radius: 10%;
}
.content_template {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 650px;
}
.divider {
  color: rgb(128, 128, 128);
  height: 2px;
  width: 100%;
  margin: 5px 0px 5px;
}
.book_title {
  text-align: center;
  color: white;
}
.book {
  height: 64px;
  width: auto;
  margin: 15px 0px 15px;
}
.book_div {
  width: 100%;
  background-color: rgb(67, 36, 72);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_part {
  z-index: 1;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 280px);
}
.book_info_section {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 20px;
  width: 100%;
}
.like_button {
  height: 40px;
  width: auto;
}
.price_and_likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px;
}
.likes_and_amountOfIt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.amount_of_likes {
  margin-top: 10px;
}
.deep_infos {
  display: flex;
  gap: 16px;
  margin-top: 8px;
  margin-left: 20px;
}
.keys {
  color: white;
}
.values {
  color: rgb(175, 175, 175);
}
.airplane_button {
  height: 24px;
  width: auto;
}
.comments_title {
  color: white;
  margin-left: 20px;
}
.message_box {
  display: flex;
  align-items: center;
  bottom: 10px;

  gap: 16px;
}
.overlay_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  justify-content: space-between;
  height: 100%;
}
.overlay_bottom_title {
  align-self: flex-start;
  margin-bottom: 24px;
  margin-top: 0;
}
.money_amount {
  color: rgb(236, 99, 9);
}
.overlay_comments {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 100%;
}
.title_and_comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 16px;
  width: 100%;
}
